* {
    margin: 0;
    padding: 0;

}


.main {
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 109vh;

}

.navbar {
    background-color:brown;
    width: 1460px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: auto;
    
}

.logo {
    color: rgb(250, 234, 9);
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;

}

.image{

     width: 1460px;
 
}

.Menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgba(250, 209, 4, 0.96);
}

.search{
    width: 330px;
    float: left;
    margin-left: 450px;
    padding-top: 15px;
    

}
.srch{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
    height: 40px;
    background:rgb(246, 244, 244);
    border: 1px solid rgb(2, 2, 2);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

.btn{
    width: 80px;
    height: 30px;
    background: rgb(252, 252, 251);
    border: 1px solid black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

