* {
    margin: 0;
    padding: 0;

}

.main {
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 109vh;

}

.navbar {
    background-color:brown;
    width: auto;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: rgb(250, 234, 9);
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;

}